@import 'App.scss';

.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  z-index: 5;
  @media (min-width: $small) {
    padding: 20px 10px;
    justify-content: space-between;
    overflow-y: hidden;
    position: relative;
    width: auto;
  }
  

  .optionContainer{
    border: 1px solid $white;
    border-radius: 32px;
    overflow: hidden;
    flex: 1;
    margin: 5px 0;
    display: flex;
    align-items: center;
    min-height: 73px;
    max-height: 150px;
    @media (min-width: $small) {
      min-height: unset;
      max-height: unset;
      margin: 10px 0;
    }
    >button{
      color: $white;
      font-family: 'Calibre';
    }
    > button, input{
      width: 100%;
      height: 100%;
      border: none;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color .2s ease-in-out, background-color .2s ease-in-out;
      background-color: $black;
      font-size: responsive(15, 20);
      padding: 5px 20px;
      @media (min-width: $small) {
        padding: 5px 55px;
      }
      path{
        transition: fill .2s ease-in-out;
      }
      &:hover{
        background-color: rgba(255,255,255,.7);
        color: $black;
        svg{
          path{
            fill: $black;
          }
        }
      }
      &:active{
        background-color: $white;
        color: $black;
        svg{
          path{
            fill: $black;
          }
        }
      }
      &.active{
        background-color: $white;
        color: $black;
        svg{
          path{
            fill: $black;
          }
        }
      }
    }
    .rateButton{
      svg{
        width: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
        @media (min-width: $small) {
          width: 50px;
        }
      }
    }
    .inputContainer{
      position: relative;
      width: 100%;
      height: 100%;
      color: $white;
      input{
        padding-right: 65px;
        @media (min-width: $small) {
          padding-right: 150px;
        }
        &:focus{
          background-color: white;
          color: $black;
        }
      }
      .send{
        position: absolute;
        right: 0;
        top: 0;
        width: fit-content;
        display: flex;
        align-items: center;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        svg{
          width: 40px;
          margin: 0;
        }
        @media (min-width: $small) {
          bottom: 20px;
          right: 20px;
          transform: unset;
          svg{
            width: 64px;
          }
        }
        
      }
    }
    .singleInputContainer{
      flex: 1;
      height: 100%;
      background-color: $white;
      position: relative;
      display: flex;
      padding: 10px 50px 20px 20px;
      align-items: flex-end;
      @media (min-width: $small) {
        width: 50px;
        padding: 10px 40px 20px 40px;
      }
      textarea,input{
        width: 100%;
        min-height: 52%;
        background: none;
        font-size: responsive(20, 30);
        font-weight: bold;
        color: $black;
      }
      input{
        text-align: center;
      }
      .send{
        position: absolute;
        bottom: 50%;
        right: 10px;
        transform: translateY(50%);
        color: $black;
        width: fit-content;
        height: fit-content;
        margin: 0;
        svg{
          width: 40px;
        }
        @media (min-width: $small) {
          bottom: 20px;
          right: 20px;
          transform: unset;
          svg{
            width: 64px;
          }
        }
      }
      
    }
    .send{
      &:disabled{
        svg{
          opacity: 0.2;
          rect{
            opacity: 0;
          }
        }
      }
      svg{
        display: block;
      }
    }
  }

  &.longList{
    justify-content: flex-start;
    @media (min-width: $small) {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;

      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: white;
        border-radius: 15px;
      }
    }
    .optionContainer{
      @media (min-width: $small) {
        min-height: calc(100vh/6 - 20px);
        max-height: calc(100vh/6 - 20px);
      }
    }
  }
}



