@import 'App.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title, .question {
  font-weight: bold;
  color: $white;
  text-align: center;
  z-index: 2;
}

.title {
  text-transform: uppercase;
  font-size: responsive(16, 24);
  line-height: responsive(32, 32);
}

.question {
  font-size: responsive(32, 80);
  line-height: responsive(40, 74);
  width: 120%;
  margin-top: 16px;
}

.shadow {
  position: absolute;
  width: 40%;
  z-index: 1;
}

.welcome {
  color: $white;
  font-weight: bold;
  width: 80%;
  text-align: center;
  &:first-of-type {
    font-size: responsive(32, 64);
    line-height: responsive(30, 64);
    margin-bottom: 8px;
    animation: showup 1s forwards;
  }
  &:nth-of-type(2) {
    font-size: responsive(24, 40);
    line-height: responsive(24, 40);
    animation: showup 2s forwards;
  }
}


@keyframes showup {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes showupSlow {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.transition {
  opacity: 1;
  animation-name: fade;
  animation-duration: 1s; 
  animation-timing-function: linear; 
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: $small) {
  .title {
    font-size: 16px;
    line-height: 32px;
  }
  .question {
    font-size: 32px;
    line-height: 40px;
    max-width: 80%;
    margin-top: 0;
  }
  .shadow {
    display: none;
  }
}