@import 'App.scss';

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  flex: 1;
  &.home{
    align-items: center;
  }
  &.libras{
    align-items: center;
    height: 100vh;
    @media only screen and (min-width: $small) {
      align-items: flex-start;
    }
  }
  .librasWrapper{
    height: 100%;
    position: absolute;
    z-index: 5;
    @media only screen and (min-width: $small) {
      z-index: 0;
      height: unset;
      bottom: -27vh;
      left: -14vw;
    }
  }
  @media only screen and (min-width: $small) {
    align-items: center;
    height: 100%;
    width: 80vw;
    margin: 0 10vw 0 12vw;
    &.libras{
      margin: 0 1vw 0 25vw;
      padding-top: 5vw;
    }
  }
}

.textWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title, .question {
  font-weight: bold;
  color: $white;
  text-align: center;
  z-index: 2;
}

.title {
  text-transform: uppercase;
  font-size: responsive(16, 24);
  line-height: responsive(32, 32);
}

.question {
  font-size: responsive(32, 80);
  line-height: responsive(40, 74);
  width: 120%;
  margin-top: 16px;
}

.shadow {
  position: absolute;
  width: 40%;
  z-index: 1;
}

.welcome {
  color: $white;
  font-weight: bold;
  width: 80%;
  text-align: center;
  &:first-of-type {
    font-size: responsive(32, 64);
    line-height: responsive(30, 64);
    margin-bottom: 8px;
    animation: showup 1s forwards;
  }
  &:nth-of-type(2) {
    font-size: responsive(24, 40);
    line-height: responsive(24, 40);
    animation: showup 2s forwards;
  }
}

@keyframes showup {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes showupSlow {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.animatedShadow {
  background-image: url('../../../assets/images/02_natusilhu.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  width: responsive(215, 500);
  height: responsive(215, 500);
  z-index: 2;
  animation-name: shadowChange;
  animation-duration: 12s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes shadowChange {
  0% {background-image: url('../../../assets/images/09_conesilhu.svg');}
  15% {background-image: url('../../../assets/images/09_conesilhu.svg');}
  18% {background-image: url('../../../assets/images/04_apresilhu.svg');}
  33% {background-image: url('../../../assets/images/04_apresilhu.svg');}
  36% {background-image: url('../../../assets/images/07_cibsilhu.svg');}
  51% {background-image: url('../../../assets/images/07_cibsilhu.svg');}
  54% {background-image: url('../../../assets/images/02_natusilhu.svg');}
  69% {background-image: url('../../../assets/images/02_natusilhu.svg');}
  72% {background-image: url('../../../assets/images/03_aliesilhu.svg');}
  100% {background-image: url('../../../assets/images/03_aliesilhu.svg');}
}

.transition {
  opacity: 1;
  animation-name: fade;
  animation-duration: 1s; 
  animation-timing-function: linear; 
  animation-delay: 0;
  animation-fill-mode: forwards;
  video{
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: $small) {
  .title {
    font-size: 16px;
    line-height: 32px;
  }
  .question {
    font-size: 32px;
    line-height: 40px;
    max-width: 80%;
    margin-top: 0;
  }
  .shadow {
    display: none;
  }
}