@import 'App.scss';

.contentWrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: $white;
  padding-bottom: 55vw;
  @media (min-width: $small) {
    padding-bottom: 0;
  }
}

.resultList {
  display: flex;
  justify-content: center;
}

.resultContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  min-height: inherit;
  
  img {
    margin-top: responsive(60, 90);
  }
}

.librasWrapper{
  display: none;
  @media (min-width: $small) {
    display: block;
    width: unset;
    height: unset;
    position: absolute;
    top: 40vh;
    left: 10vw;
  }
}

.librasWrapperMobile{
  position: relative;
  width: 90vw;
  min-height: 90vw;
  border-radius: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  @media (min-width: $small) {
    display: none;
  }
}

.resultSidebar {
  padding: 10px 0;
  width: 40%;
  height: inherit;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.resultList {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

.title, .text, .cta {
  width: 96%;
  border: 1px solid $black;
  border-radius: 16px;
  text-align: center;  
}

.cta > button {
  width: 96%;
  border-radius: 16px;
  text-align: center;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px 0;
  font-weight: bold;
  font-size: responsive(40, 60);
  line-height: responsive(40, 60);
}

.text {
  font-size: responsive(24, 32);
  line-height: responsive(32, 40);
  font-weight: bold;
  padding: 36px;
  min-height: 56vh;
  flex: 1;
}

.cta, .cta > button {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  padding: 16px 20px;
  margin-top: 8px;
  min-height: 16vh;

  span {
    margin-left: 8px;
    color: $blue;
  }
}


@media (max-width: $small) {
  .contentWrapper {
    flex-direction: column;
    align-items: center;
    min-height: 0;
    max-width: 100vw;
    padding-top: 80px;
  }
  .resultContent {
    width: 100%;
    flex-direction: column-reverse;
    img { margin-top: 0 }
  }
  .resultSidebar {
    width: 100%;
  }
  .resultList {
    flex-direction: column;
    min-height: 0;
    padding: 0 16px 16px 16px;
  }
  .cta, .cta > button, .text, .title {
    width: 100%;
  }
  .cta, .cta > button {
    display: none;
  }
}
