@import 'App.scss';

.shapesContainer{
  svg{
    display: block;
  }
  @media only screen and (min-width: $small) {
    position: relative;
  }
}

.circles{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  @media only screen and (min-width: $small) {
    margin: 0 10vw 0 14vw;
  }

  
  .circleContainer{
    position: relative;
    display: block;
    @media only screen and (min-width: $small) {
      position: unset;
    }
    width: fit-content;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    path{
      stroke-width: 0;
    }
  }
  
  .circle{
    width: 80vw;
    margin: 0 auto;
    height: auto;
    display: block;
    position: relative;
    @media only screen and (min-width: $small) {
      width: auto;
      height: 70vh;
    }
  }
  .semicircle{
    width: 80vw;
    height: auto;
    path{
      stroke-width: 1px;
    }
    @media only screen and (min-width: $small) {
      width: auto;
      height: 35vh;
    }
  }
  .semicircleRotated{
    width: 80vw;
    height: auto;
    transform: rotate(180deg);
    path{
      stroke-width: 1px;
    }
    @media only screen and (min-width: $small) {
      height: 35vh;
      width: auto;
    }
  }

  &.libras{
    @media only screen and (min-width: $small) {
      margin: 0 1vw 0 16vw;
      padding-left: 12vw;
      .circle{
        height:60vh;
      }
      .semicircle{
        height: 30vh;
      }
      .semicircleRotated{
        height: 30vh;
      }
    }
  }

  .semicircle,.semicircleRotated{
    path{
      transition: stroke .5s ease-in-out;
    }
    &.blackStroke path{
      stroke: $black;
    }
  }
  
}