@import 'App.scss';

.aboutWrapper {
  position: absolute;
  background-color:rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
}

.aboutBox {
  margin-left: 5vw;
  background: $white;
  height: 78vh;
  width: 50vw;
  border: 1px solid $black;
  border-radius: 16px;
  opacity: 1;
  padding-bottom: 16px;
}

.header {
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $black;
}

.close {
  border-top-right-radius: 12px;
  background-color: $black;
  color: $white;
  padding: 12px;
  font-size: 16px;
  line-height: 28px;
  font-style: italic;
  font-weight: bold;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.text {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  padding: 16px;
}

@media (max-width: $small) {
  .aboutWrapper {
    justify-content: center;
  }
  .aboutBox {
    height: 80vh;
    width: 85vw;
    overflow: scroll;
    margin-left: 0;
  }
}