.aboutWrapper {
  position: absolute;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBox {
  background-color: white;
  width: 400px;
  height: 300px;
  border: 1px solid black;
  opacity: 1;
}