@import 'App.scss';

.librasIcon{
  @media (max-width: $small) {
    width: responsive(22, 56);
    height: responsive(22, 56);
  }
  path{
    fill: $white;
    transition: fill .5s ease-in-out;
  }
  rect{
    stroke: $white;
    transition: stroke .5s ease-in-out;
  }
  &.black{
    path{
      fill: $black;
    }
    rect{
      stroke: $black;
    }
  }
}
