@import 'App.scss';

.librasIcon{
  path{
    fill: $white;
    transition: fill .5s ease-in-out;
  }
  rect{
    stroke: $white;
    transition: stroke .5s ease-in-out;
  }
  &.black{
    path{
      fill: $black;
    }
    rect{
      stroke: $black;
    }
  }
}
