@import 'App.scss';

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 45%;
  }
}

@media (max-width: $small) {
  .avatar {
    border-right: none;
    width: auto;
    img {
      width: 80%;
    }
  }
}