@import 'App.scss';

.question{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  

  .librasWrapper{
    height: 100%;
    @media (min-width: $small) {
      height: unset;
      position: absolute;
      bottom: -26vh;
      left: -16vw;
    }
    
  }

  .text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: responsive(24, 30);
    line-height: responsive(24, 30);
    font-weight: bold;
    width: 80%;
    @media (min-width: $small) {
      padding-top: 35vh;
    }
  }
}