@mixin reset-margin-paddding {
  margin: 0;
  padding: 0;
}

@mixin font-inherit {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
  overflow-x: hidden;

  body {
    @include reset-margin-paddding;
    font-family: SoehneLeicht, sans-serif;
    overflow-x: hidden;
    position: relative;
    width: 100vw;

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include font-inherit;
      @include reset-margin-paddding;
    }

    p {
      @include reset-margin-paddding;
    }

    blockquote {
      @include reset-margin-paddding;
    }

    ul {
      @include reset-margin-paddding;
      list-style: none;

      li {
        @include reset-margin-paddding;
        list-style: none;
      }
    }

    a {
      @include font-inherit;
      text-decoration: none;
    }

    button {    
      @include reset-margin-paddding;
      appearance: button;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      overflow: visible;
      text-transform: none;
    }

    input {
      background: transparent;
      border: none;
      outline: none;
      @include reset-margin-paddding;
      @include font-inherit;
    }

    ::placeholder {
      color: inherit;
      opacity: 0.5;
    }
    
    :-ms-input-placeholder {
      color: inherit;
      opacity: 0.5;
    }
    
    ::-ms-input-placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }
}
