//Paths
$img: './assets/images';
$icons: './assets/icons';

//Colors
$white: #E9E9E9;
$black: #0d0d0d;
$lightGrey: #fafafa;
$purple: #9F53CE;
$blue: #0179D1;
$darkBlue: #00243F;
$lightBlue: #5EBCFF;
$green: #00A876;
$yellow: #FFA615;
$darkYellow: #4D3206;
$orange: #FF5701;
$darkOrange: #4D1A01;
$lilac: #D591FF;


// Font
@font-face {
  font-family: 'Calibre';
  src:  url('./assets/fonts/Calibre-Regular.woff2') format('woff2'),
        url('./assets/fonts/Calibre-Bold.woff2') format('woff2'),
        url('./assets/fonts/Calibre-BoldItalic.woff2') format('woff2');
}

// Responsive
$small: 770px;
$medium: 992px;
$large: 1500px;
$xlarge: 1920px;

@function responsive($value1, $value2, $width1: 320, $width2: 1366) {
  $x1: $width1;
  $x2: $width2;
  $y1: $value1;
  $y2: $value2;
  $a: ($y2 - $y1) / ($x2 - $x1);
  $b: ($x2 * $y1 - $x1 * $y2) / ($x2 - $x1);
  @return calc(#{$a * 100vw} + #{$b * 1px});
}

// Reset

@mixin reset-margin-paddding {
  margin: 0;
  padding: 0;
}

@mixin font-inherit {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

html {
  overflow-x: hidden;

  body {
    @include reset-margin-paddding;
    font-family: 'Calibre';
    overflow-x: hidden;
    position: relative;
    width: 100vw;

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include font-inherit;
      @include reset-margin-paddding;
    }

    p {
      @include reset-margin-paddding;
    }

    blockquote {
      @include reset-margin-paddding;
    }

    ul {
      @include reset-margin-paddding;
      list-style: none;

      li {
        @include reset-margin-paddding;
        list-style: none;
      }
    }

    a {
      @include font-inherit;
      text-decoration: none;
    }

    button {    
      @include reset-margin-paddding;
      appearance: button;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      overflow: visible;
      text-transform: none;
    }

    input, textarea {
      background: transparent;
      border: none;
      outline: none;
      @include reset-margin-paddding;
      @include font-inherit;
      resize: none;
    }

    ::placeholder {
      color: inherit;
      opacity: 0.5;
    }
    
    :-ms-input-placeholder {
      color: inherit;
      opacity: 0.5;
    }
    
    ::-ms-input-placeholder {
      color: inherit;
      opacity: 0.5;
    }
  }
}
