@import 'App.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $black;
  width: 60%;
  min-height: inherit;
}

.sidebar {
  width: 40%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.menu {
  position: absolute;
  top: 42px;
  left: 64px;
  height: fit-content;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  button > img {
    width: responsive(16, 52);
    height: responsive(16, 52);
  }

  p {
    font-weight: bold;
    font-size: responsive(24, 40);
    line-height: responsive(24, 40);
    color: $lightGrey;  
  }
}

.menuResult {
  position: absolute;
  top: 42px;
  left: 64px;
  display: flex;
  align-items: center;
  z-index: 1;

  button > img {
    width: responsive(16, 52);
    height: responsive(16, 52);
  }

  p {
    font-weight: bold;
    font-size: responsive(24, 40);
    line-height: responsive(24, 40);
    margin-left: 9vw;
    color: $lightGrey;  
  }
}

.libras {
  position: absolute;
  top: 80vh;
  left: 64px;

  img {
    width: responsive(30, 64);
    height: responsive(30, 64);
  }
}

@media (max-width: $small) {
  .container {
    flex-direction: column;
    justify-content: space-between;
  }
  .content {
    width: 100%;
    border-right: none;
    min-height: 70vh;
  }
  .sidebar {
    min-height: 30vh;
    width: 100%;
  }
  .libras {
    position: absolute;
    left: auto;
    right: 36px;
    bottom: auto;
    top: 60vh;
  }
  .menu {
    left: 36px;
    min-height: 59vh;
    font-size: 24px;
    line-height: 24px;
  }

  .menuResult {
    left: 36px;
    min-height: 59vh;
    font-size: 24px;
    line-height: 24px;
    flex-direction: row;
    min-height: 0;
    justify-content: flex-start;

    p {
      width: 60%;
      margin-left: 20%;
      text-align: center;
    }
  }
}
