@import 'App.scss';

.circleWrapper {
  width: 80vw;
  min-width: 80vw;
  height: 80vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  @media (min-width: $small) {
    overflow: visible;
    width: responsive(215, 500);
    min-width: responsive(215, 500);
    height: responsive(215, 500);
    &.libras{
      width: 60vh;
      min-width: 60vh;
      height: 60vh;
    }
  }
}

.blackBorder {
  border: 1px solid $black;
}

.whiteBorder {
  border: 1px solid $white;
}

.loaderWrapper {
  position: relative;
  width: 80vw;
  min-width: 80vw;
  height: 80vw;
  @media (min-width: $small) {
    width: responsive(215, 500);
    min-width: responsive(215, 500);
    height: responsive(215, 500);
  }

}

.loader {
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';  
  }

  &:after {
    background: $black;
    width: 99%;
    height: 99%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;  
  }
}

.loaderInner {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
