@import 'App.scss';

.circleWrapper {
  width: responsive(215, 500);
  height: responsive(215, 500);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackBorder {
  border: 1px solid $black;
}

.whiteBorder {
  border: 1px solid $white;
}

@media (max-width: $small) {
  .circleWrapper {
    width: 315px;
    height: 315px;
  }
}

